<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-dona
                    [titulo]="dona1.titulo"
                    [doughnutChartLabels]="dona1.chartLabels"
                    [doughnutChartData]="dona1.chartData"
                    [colors]="dona1.colors"
                    >
                </app-dona>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-dona
                    [titulo]="dona2.titulo"
                    [doughnutChartLabels]="dona2.chartLabels"
                    [doughnutChartData]="dona2.chartData"
                    [colors]="dona2.colors"
                    >
                </app-dona>
            </div>
        </div>
    </div>
</div>
