<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">User Profile</h4>
                <h5 class="card-subtitle mb-3 pb-3 border-bottom">Settings</h5>
                <form class=""
                    [formGroup]="profileForm"
                    (submit)="updateProfile()">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control border border-success" placeholder="Username"
                        formControlName="nombre">
                        <label><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user feather-sm text-success fill-white me-2"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg><span class="border-start border-success ps-3">Username</span></label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control border border-success" placeholder="Email"
                        formControlName="email"
                        [readonly]="user.google">
                        <label><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail feather-sm text-success fill-white me-2"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg><span class="border-start border-success ps-3">Email address</span></label>
                    </div>


                    <div class="d-md-flex align-items-center">
                        <div class="mt-3 mt-md-0 ms-auto">
                            <button type="submit" class="btn btn-success font-weight-medium rounded-pill px-4"
                            [disabled]="profileForm.invalid">
                                <div class="d-flex align-items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-send feather-sm fill-white me-2"><line x1="22" y1="2" x2="11" y2="13"></line><polygon points="22 2 15 22 11 13 2 9 22 2"></polygon></svg>
                                    Save
                                </div>
                            </button>
                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Photo Profile</h4>
                <h5 class="card-subtitle mb-1 pb-3 border-bottom">Avatar</h5>
                    <div class="text-center mb-2">
                        <img *ngIf="!imgTemp"
                        class="image-size"
                        [src]="user.imageUrl" alt="image">
                        <img *ngIf="imgTemp"
                        class="image-size"
                        [src]="imgTemp" alt="image">
                    </div>
                    <div class="form-floating mb-3">
                        <input
                            type="file"
                            class="form-control border border-success" placeholder="Username"
                            (change)="selectImagen($event.target.files[0])">

                    </div>

                    <div class="d-md-flex align-items-center">
                        <div class="mt-3 mt-md-0 ms-auto">
                            <button
                                type="button"
                                class="btn btn-success font-weight-medium rounded-pill px-4"
                                (click)="savePicture()"
                                [disabled]="!image">
                                <div class="d-flex align-items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-send feather-sm fill-white me-2"><line x1="22" y1="2" x2="11" y2="13"></line><polygon points="22 2 15 22 11 13 2 9 22 2"></polygon></svg>
                                    Save
                                </div>
                            </button>
                        </div>
                    </div>
            </div>
        </div>
    </div>

</div>